#root {
  width: 100%;
}

.app {
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 2rem;
}

main {
  width: 100%;
  max-width: 500px;
}

header {
  text-align: center;
  margin-bottom: 3rem;
}

header h1 {
  margin-bottom: 0.5rem;
  color: #333;
}

header p {
  color: #666;
}